@import "pages/mixins";

.pageHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    var(--color-bg) 0%,
    var(--color-bg) 70%,
    rgba(243, 243, 243, 0) 100%
  );
  padding: 50px;
}

.section {
  padding: 0 5vw;
  padding-top: 200px;

  @include breakpoint(lg) {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.columns {
  grid-template-columns: 1fr;
  display: grid;
  gap: 50px;

  @include breakpoint(md) {
    gap: 3vw;
    grid-template-columns: 1fr 1fr;
  }
}
.firstColumn {
  @include breakpoint(md, max) {
    order: -1;
  }
}

.team {
}
.teamName {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
}
.teamRole {
  font-size: 12px;
  color: var(--color-muted);
}

.pageFooter {
  padding: 50px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: var(--color-muted);
}

.useCases {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;

  li {
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 1.4;
  }

  img {
    margin-right: 1em;
  }
}

.arrowLink {
  text-align: center;

  a {
    color: var(--color-accent);
    text-decoration: none;
    background-image: url("/assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    display: inline-block;
    padding-bottom: 40px;
    transition: all 0.3s;

    &:hover {
      background-position: 60% bottom;
    }
  }
}
