.navigation {
  position: fixed;
  top: 1em;
  right: 1em;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  a:link,
  a:visited {
    padding: 0 0.5em;
    text-decoration: none;
    color: var(--color-text);
  }

  [aria-current="true"] {
    font-weight: bold;
  }

  a:hover {
    color: var(--color-accent);
  }
}
