@import "pages/mixins";

.team {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  flex: 1;

  @include breakpoint(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  li {
    margin: 1.5em 0;
    flex: 1;
  }
}

.teamMain {
  line-height: 1.4;
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint(md) {
    display: block;
    text-align: center;

    .team li:hover &::after {
      content: "";
      position: absolute;
      z-index: 100;
      display: block;
      width: 0px;
      height: 0px;
      top: -25px;
      left: 50%;
      border-top: 20px var(--color-dark) solid;
      border-left: 20px transparent solid;
      border-right: 20px transparent solid;
      transform: translateX(-20px);
    }
    .team[data-scrolled="true"] li:hover &::after {
      top: 125px;
      border-bottom: 20px var(--color-dark) solid;
      border-top: none;
    }
  }
}

.teamPhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 1em 0 0;
  display: inline-block;

  @include breakpoint(md, max) {
    [data-active="true"] & {
      box-shadow: 0 0 0 3px var(--color-accent);
    }
  }

  @include breakpoint(md) {
    margin: 0 0 1em 0;
    width: 120px;
    height: 120px;
    transition: all 0.2s;

    .team li:hover & {
      box-shadow: 0 0 0 3px var(--color-accent);
    }
  }
}

.teamName {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
}

.teamRole {
  font-size: 12px;
  color: var(--color-muted);
  display: inline-block;
  margin-top: 0.5em;

  @include breakpoint(md) {
    white-space: pre-wrap;
  }
}

.teamDescription {
  pointer-events: none;

  p {
    white-space: pre-wrap;
  }

  @include breakpoint(md, max) {
    display: none;
    font-size: 14px;

    &[data-show="true"] {
      padding: 1em 0;
      display: block;
    }
  }

  @include breakpoint(md) {
    display: none;
  }

  .team li:hover & {
    @include breakpoint(md) {
      opacity: 1;
      display: block;
      position: absolute;
      z-index: 100;
      left: 0;
      right: 0;
      bottom: 240px;

      background-color: var(--color-dark);
      color: white;
      padding: 2em 3em;
      font-size: 14px;
      border-radius: 15px;
    }
  }
  .team[data-scrolled="true"] li:hover & {
    @include breakpoint(md) {
      bottom: auto;
      top: calc(160px);
    }
  }

  header {
    display: none;
    @include breakpoint(md) {
      display: block;
      margin-bottom: 1em;
    }
  }

  h4 {
    font-size: 24px;
    color: var(--color-accent);
    margin: 0;
  }

  em {
    font-style: normal;
    font-size: 12px;
    opacity: 0.7;
  }
}

.teamContent {
  flex: 1;
}

.teamArrow {
  display: block;
  width: 31px;
  height: 31px;
  position: relative;
  background-color: var(--color-accent);
  text-indent: -9999em;
  border-radius: 50%;

  @include breakpoint(md) {
    display: none;
    position: absolute;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 15px;
    transition: all 0.3s;
    border-radius: 1px;
  }
  &::before {
    left: 8px;
    transform: rotate(45deg);
  }
  &::after {
    right: 8px;
    transform: rotate(-45deg);
  }

  [data-active="true"] &::before {
    top: 13px;
    transform: rotate(-45deg);
  }
  [data-active="true"] &::after {
    top: 13px;
    transform: rotate(45deg);
  }
}
