@use "../mixins.scss" as *;

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  text-align: center;
  font-size: 14px;

  @include breakpoint(md) {
    padding-top: 0;
    flex-direction: row;
  }

  a:link,
  a:visited {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    color: var(--color-text);

    &[aria-current="true"] {
      font-weight: bold;
    }
  }

  a:hover {
    color: var(--color-accent);
  }
}
