@use "../mixins.scss" as *;

.teamTitle {
  font-size: 24px;
  opacity: 0.6;
}

.team {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  flex: 1;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: flex-start;

    &.teamIncomplete {
      grid-template-columns: repeat(4, 1fr);
      li:nth-child(5) {
        grid-column-start: 2;
      }
    }
  }

  li {
    margin: 1.5em 0;
    flex: 1;
  }
}

.teamMain {
  line-height: 1.4;
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint(md) {
    display: block;
    text-align: center;

    &::after {
      transition: opacity 0.3s;
      content: "";
      opacity: 0;
      pointer-events: 0;
      width: 0px;
      height: 0px;
      z-index: 100;
      position: absolute;
    }
    .team li[data-active="true"] &::after {
      opacity: 1;
      top: -15px;
      left: 50%;
      border-top: 10px var(--color-dark) solid;
      border-left: 10px transparent solid;
      border-right: 10px transparent solid;
      transform: translateX(-10px);
    }
    .team li[data-active="true"][data-scrolled="true"] &::after {
      top: 125px;
      border-bottom: 10px var(--color-dark) solid;
      border-top: none;
    }
  }
}

.teamPhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 1em 0 0;
  display: inline-block;

  @include breakpoint(md, max) {
    [data-active="true"] & {
      box-shadow: 0 0 0 3px var(--color-accent);
    }
  }

  @include breakpoint(md) {
    margin: 0 0 1em 0;
    width: 120px;
    height: 120px;
    transition: all 0.2s;

    .team li:hover & {
      box-shadow: 0 0 0 3px var(--color-accent);
    }
  }
}

.teamName {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
}

.teamRole {
  font-size: 12px;
  color: var(--color-muted);
  display: inline-block;
  margin-top: 0.5em;

  @include breakpoint(md, max) {
    // make only the third span break
    & span + span + span {
      display: block;
    }
  }

  @include breakpoint(md) {
    & span {
      display: block;
      height: 1.4em;
      white-space: nowrap;
    }
  }
}

.teamDescription {
  pointer-events: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;

  p {
    white-space: pre-wrap;
  }

  @include breakpoint(md, max) {
    font-size: 14px;

    .team li[data-active="true"] &[data-show="true"] {
      height: auto;
      padding: 1em 0;
      opacity: 1;
      pointer-events: none;
    }
  }

  .team li[data-active="true"] & {
    @include breakpoint(md) {
      pointer-events: none;
      opacity: 1;
      height: auto;
      // display: block;
      position: absolute;
      z-index: 100;
      left: 0;
      right: 0;

      background-color: var(--color-dark);
      color: white;
      padding: 2em 3em;
      font-size: 14px;
      border-radius: 15px;
    }
  }

  header {
    display: none;
    @include breakpoint(md) {
      display: block;
      margin-bottom: 1em;
    }
  }

  h4 {
    font-size: 24px;
    color: var(--color-accent);
    margin: 0;
  }

  em {
    font-style: normal;
    font-size: 12px;
    opacity: 0.7;
  }
}

.teamContent {
  flex: 1;
}

.teamArrow {
  display: block;
  width: 31px;
  height: 31px;
  position: relative;
  background-color: var(--color-accent);
  text-indent: -9999em;
  border-radius: 50%;
  margin-left: 2em;

  @include breakpoint(md) {
    display: none;
    position: absolute;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 15px;
    transition: all 0.3s;
    border-radius: 1px;
  }
  &::before {
    left: 8px;
    transform: rotate(45deg);
  }
  &::after {
    right: 8px;
    transform: rotate(-45deg);
  }

  [data-active="true"] &::before {
    top: 13px;
    transform: rotate(-45deg);
  }
  [data-active="true"] &::after {
    top: 13px;
    transform: rotate(45deg);
  }
}
